.content.content_alle-karten {
  min-height: 80vh;
  display: block;
}

h1#header {
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  margin: 10px;
  border-bottom: 1px black solid;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
  justify-items: center;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: #ddd;
}
