* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Light', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  /* color: #AD889A; */
  color: #4D4D4D;
}

html {
  height: 100vh;
}

p {
  font-size: 15px;
}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 22.5px;
}

h5 {
  font-size: 20px;
}

#container {
  margin: 25px;
  height: 50%;
}
#container > div {
  max-height: 100%;
}

#impressum {
  background-color: #666;
  padding: 10px;
  margin-bottom: 25px;
}
#impressum * {
  color: #fff;
}
#impressum *:not(:first-child) {
  font-size: 20px;
}
#impressum h2:first-child {
  margin-bottom: 30px;
  font-size: 40px;
}
#haftung {
  margin-bottom: 25px;
}
#urheberrecht {
  margin-bottom: 25px;
}
#datenschutz {
  margin-bottom: 25px;
}


#datenschutzrichtlinie > h5 {
  margin-top: 5px;
}

@supports (display: grid) {

  #container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "impressum haftung urheberrecht datenschutz"
    "impressum datenschutzrichtlinie datenschutzrichtlinie datenschutzrichtlinie";
    grid-gap: 20px;
    grid-auto-columns: 10px;
  }

  #impressum {
    grid-area: impressum;
    margin-bottom: 0;
  }
  #haftung {
    grid-area: haftung;
    margin-bottom: 0;
  }
  #urheberrecht {
    grid-area: urheberrecht;
    margin-bottom: 0;
  }
  #datenschutz {
    grid-area: datenschutz;
    margin-bottom: 0;
  }
  #datenschutzrichtlinie {
    grid-area: datenschutzrichtlinie;
  }

}

@media only screen and (max-width: 700px) {
  /* #container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "impressum"
    "haftung"
    "urheberrecht"
    "datenschutz"
    "datenschutzrichtlinie";
    grid-gap: 20px;
    grid-auto-columns: 10px;
    height: 50%;
  } */
  #container {
    display: block;
  }
  #haftung {
    margin-bottom: 25px;
  }
  #impressum {
    margin-bottom: 25px;
  }
  #urheberrecht {
    margin-bottom: 25px;
  }
  #datenschutz {
    margin-bottom: 25px;
  }
}
