
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto Light, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body {
  background-color: #ddd;
  //background-color: #DDBDBA;
  max-width: 1400px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

*::selection {
  background-color: gray;
  color: lightgray;
}

.navbar {
  box-sizing: border-box;
  padding-top: 0px;
  background: #9B9B9B;
  //background: #B48E8A;
  margin: 0px;
  padding: 0px;
  //border-bottom: 5px black solid;
  height: 100px;
}
.navbar p {
  //font-family: sans-serif;
}
.navbar ul {
  padding: 10px 0px;
  margin: 0px 5px;
  padding-top: 20px;
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.navbar #logo {
  position: absolute;
  left: 15px;
  top: 5px;
}
.navbar .element {
  margin: 0px 10px;
  color: black;
  padding: 3px 10px;
  //border: 4px black solid;
  transition: all 100ms;
  text-align: center;
  font-size: 1.5em;
  font-family: roboto thin, Calibri;
}
.navbar a {
  text-decoration: none;
}
.navbar .element:hover {
  text-decoration: none;
  //background: black;
  //color: white;
  border-bottom: 2px black solid;
  padding: 3px 10px;
  //border: 4px white solid;
}
.navbar #activeNav {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  //background: black;
  //color: white;
  padding: 3px 15px;
  //border: 4px white solid;
  //border: 2px black solid;
  //border-left: 0;
  //border-right: 0;
  border-bottom: 3px black solid;
}

.navbar li {
  list-style: none;
  //margin-top: 0.65%;
  margin-top: 5px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
.footer p {
  margin: 2px;
}

.content {
  display: flex;
  //background-color: #d2d2d2;
  ///* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f6f6+0,9b9b9b+100 */
  background: rgb(186,186,186); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(155,155,155,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(155,155,155,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(246,246,246,1) 0%,rgba(155,155,155,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */

  //background: rgb(217, 136, 128); /* Old browsers */
  //background: -moz-linear-gradient(top, rgba(226, 194, 191,1) 0%, rgba(180, 142, 138,1) 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(top, rgba(226, 194, 191,1) 0%,rgba(180, 142, 138,1) 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to bottom, rgba(226, 194, 191,1) 0%,rgba(180, 142, 138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
}
.content #feather {
  flex: 1;
  //border: 1px gray solid;
  //background-color: #fff;
  //height: 86vh;
  height: 790px;
  //border-right: black 5px solid;
  background: #9B9B9B;
  //background: #B48E8A;
}

.content #feather #feather-img {
  background-image: url(../img/feder_schwarz.png);
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 70%;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-right: auto;
  margin-left: auto;
}

.content_home #feather #feather-img {
  animation-name: feather_home;
}
@keyframes feather_home {
  0% {}
  /* 100% {transform: translateY(20%) rotate(-20deg);} */
  100% {transform: translateY(60px) rotate(-20deg);}
}

.content_profil #feather #feather-img {
  //transform: translateY(20%) rotate(-20deg);
  animation-name: feather_profil;
}
@keyframes feather_profil {
  0% {}
  100% {transform: translateY(140px) rotate(20deg);}
  /* 100% {transform: translateY(60%) rotate(20deg);} */
}

.content_beratung #feather #feather-img {
  //transform: translateY(60%) rotate(20deg);
  animation-name: feather_beratung;
}
@keyframes feather_beratung {
  0% {}
  100% {transform: translateY(220px) rotate(-20deg);}
  /* 100% {transform: translateY(100%) rotate(-20deg);} */
}

.content_impressionen #feather #feather-img {
  //transform: translateY(100%) rotate(-30deg);
  animation-name: feather_impressionen;
}
@keyframes feather_impressionen {
  0% {}
  100% {transform: translateY(300px) rotate(20deg);}
  /* 100% {transform: translateY(140%) rotate(20deg);} */
}

.content_kunst #feather #feather-img {
  //transform: translateY(140%) rotate(20deg);
  animation-name: feather_kunst;
}
@keyframes feather_kunst {
  0% {}
  100% {transform: translateY(380px) rotate(-20deg);}
  /* 100% {transform: translateY(180%) rotate(-20deg);} */
}

.content_geschenke #feather #feather-img {
  //transform: translateY(180%) rotate(-20deg);
  animation-name: feather_geschenke;
}
@keyframes feather_geschenke {
  0% {}
  100% {transform: translateY(460px) rotate(40deg);}
  /* 100% {transform: translateY(220%) rotate(40deg);} */
}

.content_kontakt #feather #feather-img {
  //transform: translateY(220%) rotate(20deg);
  animation-name: feather_kontakt;
}
@keyframes feather_kontakt {
  0% {}
  100% {transform: translateY(520px) rotate(-20deg);}
  /* 100% {transform: translateY(260%) rotate(-20deg);} */
}
.home_stichwort:active #list-4 {
  animation-name: secret-color;
  animation-duration: 1s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  border-radius: 10px;
  background-color: red;
  transition-delay: 10s;
}
@keyframes secret-color {
    0% {background-color: red;}
    33% {background-color: green;}
    66% {background-color: blue;}
}
.author {
  font-size: 0.7em;
  text-align: right;
  line-height: 2em;
}
.sprueche {
  position: relative;
  left: 8%;
  top: 57.5%;
  font-size: 1.3em;
  max-width: 90%;
}

.content .textbox {
  box-sizing: border-box;
  //font-family: sans-serif;
  //border: 1px gray solid;
  flex: 4;
  l
}

.content_home .text {
  position: relative;
  width: 90%;
  right: -9%;
  bottom: -50%;
  transition: 1000ms;
}
.content_home .text:hover {
  bottom: -100px;
  /* bottom: -15%; */
}

.content_home .text ul {
  /*
  position: relative;
  left: 55%;
  top: 30%;
  width: 40%;
  */
}
.content_home .text ul li {
  list-style: none;
}
.content_home .text ul li .home_stichwort .list-extend {
  max-height: 0;
  transition: all 1000ms;
  overflow: hidden;
  opacity: 0;
}

.content_home .text ul li .home_stichwort:hover {
  //background-color: red;
}

.content_home .text ul li .home_stichwort:hover .list-extend {
  overflow: hidden;
  max-height: 30px;
  height: auto;
  opacity: 1;
}

.home_stichwort:hover #list-1 {
  max-height: 320px;
}
.home_stichwort:hover #list-2 {
  max-height: 195px;
}
.home_stichwort:hover #list-3 {
  max-height: 290px;
}
.home_stichwort:hover #list-4 {
  max-height: 240px;
}
.home_stichwort:hover #list-5 {
  max-height: 265px;
}
.home_stichwort:hover #list-6 {
  max-height: 145px;
}
.content_home .text ul li .home_stichwort .list-extend p {
  //font-size: 1.25em;
  font-size: 20px;
  margin-right: 10px;
}
.content_home .text ul li p {
  list-style: none;
  font-size: 3em;
  text-align: right;
  //line-height: 2em;
}

.content_beratung .textbox {
  position: relative;
  text-align: center;
  //top: 120px;
  font-size: 1.2em;
}

.content_beratung .textbox .text {
  position: relative;
  //top: -120px;
}

.content_beratung .textbox .text p:nth-child(2) {
  margin-top: 10px;
  /* margin-top: 1em; */
  margin-bottom: 15px;
  /* margin-bottom: 1.25em; */
}
.content_beratung .textbox .text p:nth-last-child(2) {
  margin-top: 15px;
  /* margin-top: 1.25em; */
}

.content_beratung #feder-beratung {
  width: 100%;
  filter: grayscale(1);
  transition: all 500ms;
}

.content_beratung #feder-beratung:hover {
  filter: grayscale(0);
}
/*
.slideimage {
  background-image: url('../img/slideimage.webp');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  height: 1613px;
  width: 1613px;
  transition: all 1000ms;
  position: absolute;
}
*/

.slideimages {
  box-sizing: border-box;
  //font-family: sans-serif;
  //border: 1px gray solid;
  flex: 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.slideimage_container {
  //width: 30%;
  width: 450px;
  height: 450px;
  //height: 52.4%;
  //position: absolute;
  margin-top: 50px;
  /* margin-top: 2.5%; */
}

.slideimage {
  background-image: url('../img/slideimage.webp');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  //height: 80%;
  height: 100%;
  width: 100%;
  transition: all 1000ms;
  //position: absolute;
}

#slideimage_profil_1 {
  background-image: url('../img/foto-nicole-bw.JPG');
}

#slideimage_profil_2 {
  background-image: url('../img/stil-fabrik.jpg');
  background-position: top;
}

.slideimage:hover {
  background-position: top;
}
#slideimage_profil_2:hover {
  background-position: bottom;
}

.slideimage_container .profil_beschreibung {
  //background-color: #fff;
  padding: 10px;
  border: 1px gray solid;
  position: relative;
  top: 10%;
}

.slideimage_container .profil_beschreibung p {
  font-size: 1.2em;
  //text-align: justify;
}

.slideimage_container .profil_beschreibung #header {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 100;
  //text-align: left;
}

#slideimage_geschenke_1 {
  //background-image: url('../img/foto-nicole-bw.JPG');
  background-position: top;
}

#slideimage_geschenke_2 {
  //background-image: url('../img/stil-fabrik.jpg');
}

#slideimage_geschenke_1:hover {
  background-position: bottom;
}
#slideimage_geschenke_2:hover {
  background-position: top;
}

.slideimage_container .geschenke_beschreibung, .slideimage_container .geschenke_beschreibung_2 {
  //background-color: #fff;
  padding: 10px;
  border: 1px gray solid;
  position: relative;
  top: 10%;
}

.slideimage_container .geschenke_beschreibung p {
  font-size: 1.2em;
  //text-align: justify;
}

.slideimage_container .geschenke_beschreibung_2 p {
  font-size: 1.2em;
}

.slideimage_container .geschenke_beschreibung_2 p:nth-last-child(1), .slideimage_container .geschenke_beschreibung_2 p:nth-last-child(2) {
  font-size: 0.7em;
}

.slideimage_container .geschenke_beschreibung #header, .slideimage_container .geschenke_beschreibung_2 #header {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 100;
  //text-align: left;
}

#contact-mail {
  text-decoration: none;
  color: #000;
  //background-color: #b8b8b8;
  margin: 10px;
  padding: 5px;
  //border-radius: 2px;
  position: relative;
  top: -25px;
  left: 700px;
  font-size: 25px;
  transition: all 100ms;
  text-transform: uppercase;
  border-bottom: 1px black solid;
}
#contact-mail:hover {
  //background-color: red;
  border-bottom: 3px black solid;
}


.contact {
  width: 50%;
  font-size: 1.6em;
  position: relative;
  top: 200px;
  left: 150px;
}
.contact p:first-child {
  text-transform: uppercase;
}
.contact p:nth-child(4) {
  margin-top: 50px;
}


.content_kontakt #img-end {
  width: 100%;
  position: relative;
  top: 275px;
  filter: grayscale(1);
  transition: all 500ms;
}
.content_kontakt #img-end:hover {
  filter: grayscale(0);
}

.content_kunst .textbox {
  //background: #9B9B9B;
}











.content_impressionen .text {
  height: 790px;
}

.impressionen-wip-2 {
  font-size: 1.5em;
  position: relative;
  left: 60%;
  top: 20%;
  text-align: right;
  width: 30%;
}

.impressionen-wip {
  font-size: 7em;
  color: #000;
  width: 30%;
  position: relative;
  top: 100px;
  left: 200px;
}

.impressionen-wip p:first-child {
  position: inherit;
  left: 100px;
}
.impressionen-wip p:nth-child(3) {
  position: inherit;
  left: 150px;
}
.impressionen-wip p:nth-child(4) {
  position: inherit;
  left: 90px;
}
